<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<title>Corona2019 (COVID-19) real-time status</title>
	<meta property="og:type" content="website"> 
    <meta property="og:title" content="Corona2019 (COVID-19) real time">
    <meta property="og:description" content="It collects statistics and news of countries around the world about Corona 19 (COVID19) and provides real-time information.">
    <meta property="og:image" content="https://cvd2019.kr/static/images/enogimage.jpg">
    <meta property="og:url" content="https://cvd2019.kr">
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	<script type="text/javascript" src="{% static 'js/set_root.js' %}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>
<body>
	<section class="et-slide" id="tab-top"></section>
	<div class="main_wrap">
		<div class="header">
			<div class="container">
				<div class="row">
					<a class="logo"><img src="{% static 'images/logo.png' %}" alt="cvd2019 logo" title="Corona 19 (COVID-19) real-time status"></a>
					<div class="language">
						<div class="dropdown">
						  <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
						    Language
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu dropdown-menu-xs dropdown-menu-left">
						    <li><a href="{% static 'cnindex.html' %}" target="_blank">China</a></li>
						    <li><a href="https://cvd2019.kr" target="_blank">Korea</a></li>
						  </ul>
						</div>
					</div>
					<div class="page-header">
					  <h1>Corona 19 (COVID-19)<br />Real-time status</h1>
					  	<h3>Last update: {{ total_world.update_time }}
					  		<button type="button" class="btn btn-xs" onClick="document.location.reload()">
						  	<span>↻</span>
							</button>
						</h3>
					</div>
				</div>
			</div>
		</div>


		<div class="center">
			<div class="top_info container">
				<h1>World epidemic</h1>
				<div class="row world">
					<div class="col-xs-6">
						<span>Existing</span><br />
						<strong style="color:#ff6f72;" >{{ total_world.quarantine }}</strong><br />
						<b>Compare<em style="color: red;" id="numberColor">{{ total_world.compare_quarantine|default:" 0" }}</em></b>
					</div>
					<div class="col-xs-6">
						<span>Recovered</span><br />
						<strong style="color: #10aeb5;">{{ total_world.cure }}</strong><br />
						<b>Compare<em style="color: #10aeb5;">+{{ total_world.compare_cure|default:" 0" }}</em></b>
					</div>
					<div class="col-xs-4">
						<span>Confirmed</span><br />
						<strong style="color: #e83132;">{{ total_world.cumulative }}</strong><br />
						<b>Compare<em>+{{ total_world.compare_cumulative|default:" 0" }}</em></b>
					</div>
					<div class="col-xs-4">
						<span>Fatality Rate</span><br />
						<strong style="color: #476da0;">{{ total_world.death_rate }}</strong><br />
					</div>
					<div class="col-xs-4">
						<span>Deaths</span><br />
						<strong style="color: #4d5054;">{{ total_world.death }}</strong><br />
						<b>Compare<em>+{{ total_world.compare_death|default:" 0" }}</em></b>
					</div>
				</div>

				<h1>Republic of Korea</h1>
				<div class="row Country">
					<div class="col-xs-4">
						<span>Existing</span><br />
						<strong style="color:#ff6f72;" >{{ total_domestic.quarantine }}</strong><br />
						<b>Compare<em style="color: red;" id="numberColor">{{ total_domestic.compare_quarantine|default:" 0" }}</em></b>
					</div>
					<div class="col-xs-4">
						<span>Overseas inflow</span><br />
						<strong style="color: #476da0;">{{ total_domestic.overseas }}</strong><br />
						<b>Compare<em>+{{ total_domestic.compare_overseas|default:" 0" }}</em></b>
					</div>
					<div class="col-xs-4">
						<span>Recovered</span><br />
						<strong style="color: #10aeb5;">{{ total_domestic.cure }}</strong><br />
						<b>Compare<em>+{{ total_domestic.compare_cure|default:" 0" }}</em></b>
					</div>
					<div class="col-xs-4">
						<span>Confirmed</span><br />
						<strong style="color: #e83132;">{{ total_domestic.cumulative }}</strong><br />
						<b>Compare<em>+{{ total_domestic.compare_cumulative|default:" 0" }}</em></b>
					</div>
					<div class="col-xs-4">
						<span>Fatality Rate</span><br />
						<strong style="color: #e86d48;">{{ total_domestic.death_rate }}</strong><br />
					</div>
					<div class="col-xs-4">
						<span>Deaths</span><br />
						<strong style="color: #4d5054;">{{ total_domestic.death }}</strong><br />
						<b>Compare<em>+{{ total_domestic.compare_death|default:" 0" }}</em></b>
					</div>
				</div>
				<div class="description" style="text-align: center;">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm"><img src="{% static 'images/question.png' %}" alt="Explanation">
						<span>&nbsp;&nbsp;Explanation</span>
					</button>

					<div class="modal fade bs-example-modal-sm bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
					  	<div class="modal-dialog modal-dialog-centered" role="document">
					  		<div class="modal-content">
					  	 		<div class="modal-header">
							        <h4 class="modal-title">Explanation</h4>
							    </div>

							  	<div class="modal-body">
							  		<p>* Compare+ = Increase from the previous day</p>
							  		<p>* Fatality Rate(%%) = Deaths/(Deaths+Recovered)</p>
							  		<p>* existing = Total confirmation - Recovered - Deaths</p>
							  		<p>* Overseas inflow = Foreign Arrival Confirmation Patients</p>
                                    <p>* Data is based on KCDC</p>
									<p>See the source at the bottom of the website for more information</p>
							  	</div>
							  	<div class="modal-footer">
					        		<button type="button" class="btn btn-default" data-dismiss="modal">X</button>
					      		</div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
			
			<div class="breadcrumb">
				<section class="et-hero-tabs" >
				    <div class="et-hero-tabs-container">
				        <a class="et-hero-tab" href="#tab-es6">World</a>
				        <a class="et-hero-tab" href="#tab-flexbox">S.Korea</a>
				        <a class="et-hero-tab" href="#tab-react">Prevention</a>
				        <a class="et-hero-tab" href="#tab-angular">News</a>
				        <a class="et-hero-tab" href="#tab-top">↑Top</a>
				        <span class="et-hero-tab-slider"></span>
				    </div>
				</section>

				<!-- Main -->
				<main class="et-main">
				    <section class="et-slide" id="tab-es6">
				    	<div class="world">
					        <h1 style="text-align: center;">World situation</h1>
					        <div id="worldmap" style="height:13rem; border:0px solid #ccc;padding:0px;position: relative;">
					        </div>

					        <div class="TabBox">
								<table class="data-table" width="100%">
								  <thead>
								    <tr>
								      <th class="nosort">Country</th>
								      <th>Existing</th>
								      <th>Confirmed</th>
								      <th>Cure</th>
								      <th>Death</th>
								      <th>Fatality Rate</th>
								    </tr>
								  </thead>
								  <tbody>
                                  {% for i in data_country %}
								    <tr>
								      <td class="nosort" style="font-weight: bold;">{{ i.lang_name }}</td>
								      <td data-order="{{ i.quarantine }}">{{ i.quarantine }}<br />
								      	<span style="color: red;">{{ i.compare_quarantine|default:"0" }}</span>
								      </td>
								      <td data-order="{{ i.cumulative }}">{{ i.cumulative }}<br />
								      	<span>+{{ i.compare_cumulative|default:"0" }}</span>
								      </td>
								      <td data-order="{{ i.cure }}">{{ i.cure }}<br />
								      	<span>+{{ i.compare_cure|default:"0" }}</span>
								      </td>
								      <td data-order="{{ i.death }}">{{ i.death }}<br />
								      	<span>+{{ i.compare_death|default:"0" }}</span>
								      </td>
								      <td>{{ i.death_rate }}</td>
								    </tr>
                                  {% endfor %}
								  </tbody>
								</table>
							</div>
							<div id="datasheet" style="height: 17.5rem;"></div>
							<div id="worldtransition" style="height: 17.5rem;"></div>
				        </div><!--TabBox-->
				    </section>
				    
				    <section class="et-slide" id="tab-flexbox">
				        <div class="demestic">
					        <h1 style="text-align: center;">Domestic</h1>
					        <div id="province" style="height:17.5rem; border:0px solid #ccc;padding:0px;position: relative;">
					        </div>
					        <div class="TabBox">
								<table class="data-table" width="100%">
								  <thead>
								    <tr>
								      <th class="nosort">Area</th>
								      <th>Existing</th>
								      <th>Confirmed</th>
								      <th>Cure</th>
								      <th>Death</th>
								      <th>Fatality Rate</th>
								    </tr>
								  </thead>
								  <tbody>
                                  {% for i in data_area %}
								    <tr>
										<td class="nosort" style="font-weight: bold;">{{ i.lang_name }}</td>
								      <td data-order="{{ i.quarantine }}">{{ i.quarantine }}<br />
								      	<span style="color: red;">{{ i.compare_quarantine|default:"0" }}</span>
								      </td>
								      <td data-order="{{ i.cumulative }}">{{ i.cumulative }}<br />
								      	<span>+{{ i.compare_cumulative|default:"0" }}</span>
								      </td>
								      <td data-order="{{ i.cure }}">{{ i.cure }}<br />
								      	<span>+{{ i.compare_cure|default:"0" }}</span>
								      </td>
								      <td data-order="{{ i.death }}">{{ i.death }}<br />
								      	<span>+{{ i.compare_death|default:"0" }}</span>
								      </td>
								      <td>{{ i.death_rate }}</td>
								    </tr>
                                  {% endfor %}
								  </tbody>
								</table>
							</div>
							<div id="datasheet2" style="height: 17.5rem;"></div>
							<div id="transition" style="height: 20rem;"></div>
				        </div>
				    </section>
				    
				    <section class="et-slide" id="tab-react">
				    	<div class="prevent">
					        <h2>Prevention</h2>
					        <p class="text-center"><a class="text-reset" href="http://ncov.mohw.go.kr/infoBoardView.do?brdId=3&brdGubun=32&dataGubun=&ncvContSeq=586&contSeq=586&board_id=&gubun=#" target="_blank">Source: MOHW, KCDC</a></p>
					        <div class="Agraphic" style="width: 18.75rem; margin: 0 auto;">
					        	<img src="{% static 'images/en01.jpg' %}" style="width: 100%;" alt="Coronavirus 19 Prevention and Basic Rules">
								<img src="{% static 'images/en02.jpg' %}" style="width: 100%;" alt="Coronavirus 19 Prevention and Basic Rules">
					        </div>
					        <div class="hospital-navigation">
					        	<div class="title"><h2>Emergency contact</h2></div>
					        	<ul>
					        		<li>✚
					        			<a href="https://search.naver.com/search.naver?where=m&sm=mtb_etc&query=%EC%8B%A0%EC%A2%85%EC%BD%94%EB%A1%9C%EB%82%98%EB%B0%94%EC%9D%B4%EB%9F%AC%EC%8A%A4%20%EC%84%A0%EB%B3%84%EC%A7%84%EB%A3%8C%EC%86%8C" target="_blank">Find a selected clinic</a>
									</li>
									<li>
										
										<h2>In case of suspicious symptoms, call center counseling and visit a screening clinic</h2>
										<h2>📞KCDC Call center: <a href="tel:1339">1339</a></h2>
										<h2>📞Regional call center: Area Code+120</h2>
									</li>
								</ul>
                            </div>
				        </div>
				    </section>
				    <section class="et-slide" id="tab-angular">
						<div class="container">
				        <h1>News</h1>
							<ul>
								{% for i in data_news %}
								<li>
									<a href="{{ i.url }}" target="_blank">{{ i.title }}</a><br />
                                    {% autoescape off %}
									<h3>{{ i.description }}</h3><br />
                                    {% endautoescape %}
									<span id="newstimes">{{ i.publishedAt }}</span>
								</li>
								{% endfor %}
							</ul>
						</div>
				    </section>
				</main>
				<div class="source">
					<div class="container">
						<h2>Data Source</h2>
						<ul>
							<li>
								<a href="http://ncov.mohw.go.kr/" target="_blank">Republic of Korea: KCDC Corona virus infection -19</a><br />
								<a href="https://www.worldometers.info/coronavirus/" target="_blank">Worldometer: COVID-19 CORONAVIRUS OUTBREAK</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
        <div class="footer">
        	<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Korea <span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-xs">
				<li><a href="#">China</a></li>
				<li><a href="#">USA</a></li>
			</ul>
			</div>
				<p>Request to correct incorrect information & Tip</p>
				<p>jhnam1992@gmail.com</p>
				<p>*Statistical figures provided by this site are updated based on the Centers for Disease Control and Prevention and press releases around the world, but as they are collected by individuals, they cannot be held responsible for the accuracy of the figures and cannot be used as official evidence. Inform the Quote and User that the responsibility for quoting and using the content provided by this Site lies solely with the Quote and User.</p>
		</div>
	</div>
	<div class="footer"></div>
<script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/world.js' %}"></script>
<script type="text/javascript" src="{% static 'js/South_Korea.js' %}"></script>
<script type="text/javascript" src="{% static 'js/navigation.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script type="text/javascript">
		var datasheet11 = [
				{% for i in bar_world %}
					'{{ i.lang_name }}',
				{% endfor %}
			]

		var datasheet12 = [
			{% for i in bar_world %}
					'{{ i.quarantine }}',
			{% endfor %}
			]

		var datasheet21 = [
				{% for i in bar_domestic %}
					'{{ i.lang_name }}',
				{% endfor %}
			]

		var datasheet22 = [
				{% for i in bar_domestic %}
					'{{ i.quarantine }}',
				{% endfor %}
			]

		var worldtransition1 = [
				{% for i in line_world %}
	        		'{{ i.create_time }}',
				{% endfor %}
			]

		var worldtransition2 = [
				{% for i in line_world %}
		    		'{{ i.quarantine }}',
				{% endfor %}
			]

		var worldtransition3 = [
				{% for i in line_world %}
					'{{ i.compare_cure }}',
				{% endfor %}
			]

		var worldtransition4 = [
				{% for i in line_world %}
					'{{ i.compare_cumulative }}',
				{% endfor %}
			]

		var transition1 = [
				{% for i in line_domestic %}
	        		'{{ i.create_time }}',
				{% endfor %}
		]

		var transition2 = [
				{% for i in line_domestic %}
	        		'{{ i.quarantine }}',
				{% endfor %}
			]

		var transition3 = [
				{% for i in line_domestic %}
					'{{ i.compare_cure }}',
				{% endfor %}
			]

		var transition4 = [
				{% for i in line_domestic %}
					'{{ i.compare_cumulative }}',
				{% endfor %}
			]


		var worldmap11 = [
	            {% for i in data_country %}
	            	{name: '{{ i.lang_name }}', value: {{ i.quarantine }}},
	            {% endfor %}
            ]

        var province11 = [
				{% for i in data_area %}
					{name: '{{ i.lang_name }}', value: {{ i.quarantine }}},
				{% endfor %}
            ]

        var province22 = [
                {% for i in data_area %}
					{name: '{{ i.lang_name }}', value: {{ i.cumulative }}},
				{% endfor %}
            ]

        var province33 = [
                {% for i in data_area %}
					{name: '{{ i.lang_name }}', value: {{ i.death }}},
				{% endfor %}
            ]
</script>
<script src="{% static 'js/en/world-datasheet.js' %}"></script>
<script src="{% static 'js/en/city-datasheet.js' %}"></script>
<script src="{% static 'js/en/world-chart.js' %}"></script>
<script src="{% static 'js/en/city-chart.js' %}"></script>
<script src="{% static 'js/en/world-map.js' %}"></script>
<script src="{% static 'js/en/korea-map.js' %}"></script>
<script src="{% static 'js/all-tables.js' %}"></script>
<script src="{% static 'js/newstime.js' %}"></script>
<script type="text/javascript">
	var dataNumber = document.querySelectorAll('#numberColor');
	for (i in dataNumber) {
		if (dataNumber[i].innerText < 0) {
			dataNumber[i].style.color = '#10aeb5';
		} else {
			dataNumber[i].innerText = '+' + dataNumber[i].innerText;
		}
	}
</script>
</body>
</html>